body {
  margin: 0px;
  padding: 0px;
}

.flex-grid {
  -webkit-column-count: 3; /* Chrome, Safari, Opera */
  -moz-column-count: 3; /* Firefox */
  column-count: 3;
}

.container {
    max-width: 1200px;
    border: 0;
    margin: 0;
}

/*navbar*/

.navbar {
  opacity: 0.7;
  display: flex;
  list-style: none;
  text-decoration: none;
  text-align: right;
  padding: 0;
  margin: 0;
}

.navbar .logo {
  float: left;
  text-decoration: none;
  padding: 0 20px 0 20px;
  font-size: 4rem;
}

.navbar li {
  display: inline-block;
  padding: 20px 20px 20px 20px;
  font-size: 1.5rem;
  margin: 0;
}

.navbar li a {
  flex-grow: 1;
  text-decoration: none;
  letter-spacing: 1px;
  font-size: 1.1em;
  text-align: center;
  padding: 10px;
  border:2px solid white;
  opacity: 1;
}

.navbar li a:hover {
  text-decoration: none;
  cursor: pointer;
  opacity: 0.5;
}

.navbar li a:visited, a:after, a:active, a:focus {
  text-decoration: none;
}

/*small devices*/

@-ms-viewport {
  width: device-width;
}

/*MEDIA QUERY*/
@media only screen and (max-width : 900px) {

 header {
   position: absolute;
 }

 #menu-icon {
   display:inline-block;
 }

 navbar ul, navbar:active ul {
   display: none;
   position: absolute;
   padding: 10px;
   background: #5a4d4c;
   margin-top: 40px;
   right: 5px;
   width: 9em;
 }

 navbar:hover ul {
   display: block;
   border: 2px solid #8ED3F4;
 }

 navbar li {
   text-align: center;
   width: 100%;
   padding: 5px 0px;
   margin: 0;
 }

 navbar ul li a {
     margin-left: 8px;
 }
