body {
  margin: 0px;
  padding: 0px;
}

.flex-grid {
  -webkit-column-count: 3; /* Chrome, Safari, Opera */
  -moz-column-count: 3; /* Firefox */
  column-count: 3;
}

.container {
    max-width: 1200px;
    border: 0;
    margin: 0;
}
